/*
** Styles généraux
*/
body{
    font-size: .8em;
}
.container {
    padding-top:4em;

}
#search-form {
    width:50%;
    margin : 2em 0; 
}
th.active .arrow {
    opacity: 1;
}
th:not(:first-child) {
    min-width: 120px;
}
th:first-child .arrow {
    display:none;
}
.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
    cursor: pointer;
}

.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #000000;
}

.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
}
td[data-title="Actions"] button {
    display:inline-block;
}

/*
** Tableau responsive
*/
@media only screen and(min-width: 980px){
    tr:nth-child(even){background-color: #f2f2f2;}
}

@media only screen and (max-width: 800px) {
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        word-break: break-word;
        display: block; 
    }

    /* On cache les headers, mais pas de display:none; pour l'accessibilité'*/
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; margin-bottom: 1em; }
    #no-more-tables tr:last-child { margin-bottom:3em; border-bottom: none }

    #no-more-tables td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    #no-more-tables.withoutlabel td{
        padding:10px; 
    }
    #no-more-tables.withoutlabel td:before{
        display:none;
    }
    #no-more-tables.withoutlabel td[data-title="Id"]{
        display:none;
    }
    /* Label sur les champs*/
    #no-more-tables td:before { content: attr(data-title); }
}

/*
** Modal
*/
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 500px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}