<!DOCTYPE html>
<html>
    <head>
        <title>Novagile - Test technique</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="css/theme.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>
    <body>
        <div id="novagile-test" class="container">

            <h1>Novagile - Test technique </h1>

            <!--Champs de recherche!-->
            <form id="search-form">
                <div class="input-group">
                    <input type="search" class="form-control" id="search" name="query" v-model="searchQuery" placeholder="Rechercher ...">
                </div>
            </form>

            <!-- Pagination -->
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#" @click="getPreviousPage()" >Previous</a></li>
                    <li v-for="(value) in nbPages" class="page-item" :class="getCurrentPage(value)">
                        <a class="page-link" @click="getPage(value)" href="#"> {{ value }}</a>
                    </li>
                    <li class="page-item" ><a class="page-link" href="#" @click="getNextPage()" >Next</a></li>
                </ul>
            </nav>

            <!-- Tableau -->
            <table id="no-more-tables" class="table table-striped">
                <thead>
                    <tr>
                        <th v-for="(item, key) in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
                            {{ item }}
                            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data, index) in filteredData">
                        <td data-title="PJ" >
                            <a v-bind:href="data['attachments']" class="fas fa-paperclip"></a>
                        </td>
                        <td data-title="Email">
                            {{ data['email']}}
                        </td>
                        <td data-title="Status">
                            <span :class="getStatusClass(data['status'])"> 
                                {{ data['status'] }}
                            </span>
                        </td>
                        <td data-title="Création">
                            {{ data['interaction_creation_date'] | formatDate }}
                        </td>
                        <td data-title="Echéance">
                            {{ data['due_date'] | formatDate }}
                        </td>
                        <td data-title="Assigné">
                            {{ data['assignedTO'] }}
                        </td>
                        <td data-title="Dernier commentaire">
                            {{ data['last_comment'] | truncate  }}
                        </td>
                        <td data-title="Actions">
                            <button id="show-modal" @click="displayModal(data['id'])"  class="btn btn-success btn-sm" ><i class="fas fa-eye"></i></button>
                            <button id="delete-person" @click="deletePersonn(index)"  class="btn btn-danger btn-sm" ><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal - détail de l'utilisateur -->
            <modal v-if="showModal" @close="showModal = false">
                <h3 slot="header" v-html='title'></h3>
                <div slot='body' v-html='description'>
                </div>
            </modal>

        </div>

        <!-- template pour le composant modal -->
        <script type="text/x-template" id="modal-template">
            <transition name="modal">
                <div class="modal-mask">
                  <div class="modal-wrapper">
                    <div class="modal-container">

                      <div class="modal-header">
                        <slot name="header">
                          default header
                        </slot>
                      </div>
                      <div class="modal-body">
                        <slot name="body">
                          default body
                        </slot>
                      </div>
                      <div class="modal-footer">
                        <slot name="footer">
                          <button class="btn btn-primary btn-sm" @click="$emit('close')">
                            OK
                          </button>
                        </slot>
                      </div>
                    </div>
                  </div>
                </div>
              </transition>
        </script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
